@font-face {
  font-family: AvenirNext;
  src: url('//cdn2.hubspot.net/hubfs/53/tools/fonts/AvenirNext-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: AvenirNext;
  src: url('//cdn2.hubspot.net/hubfs/53/tools/fonts/AvenirNext-DemiBold.woff2') format('woff2');
  font-weight: 600;
}

@font-face {
  font-family: AvenirNext;
  src: url('//cdn2.hubspot.net/hubfs/53/tools/fonts/AvenirNext-Medium.woff2') format('woff2');
  font-weight: 500;
}

@font-face {
  font-family: AvenirNext;
  src: url('//cdn2.hubspot.net/hubfs/53/tools/fonts/AvenirNext-Regular.woff2') format('woff2');
  font-weight: 400;
}
